@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background-color: #24262B;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo img {
  color: #fff;
  width: 60px;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.10em;
  
  display: inline-block;
  padding: 5px 15px;
  position: relative;
}
.menu-list li a:hover {
  color: ;
}
 .menu-list li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: lightblue;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu-list li a:hover:after {
  color:blue;
  width: 100%; 
  left: 0;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}


.banner{
  background: url("./images/bg.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.about{
    background: url(./images/2.jpg) no-repeat left;
    background-size: 80%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 40px 0;
}
.inner-section{
    width: 65%;
    float: right;
    background-color: #f3f2f2;
    padding: 100px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 900;
    color:
}
.text{
    font-size: 5px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills button{
    font-size: 20px;
    text-align: center;
    letter-spacing: px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color:#408BF4;
    color: white;
    cursor: pointer;
}
.skills button:hover{
    transition: 1s;
    background-image:-webkit-linear-gradient( 0deg, rgb(192,97,226) 0%, rgb(55,143,246) 100%);
    background-color: white;
}

/*Services Css*/
section .services{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.services{
    background: url(./images/3.jpg)no-repeat right;
    background-size: 80%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding:  40px 0;
}
.inner-section-services{
    width: 65%;
    float: left;
    background-color:#f3f2f2;
    padding: 100px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}
.inner-section-services h1{
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 900;
    
}
.text{
    font-size: 13px;
    font-weight: 400;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
 .services ul li{
  font-size: 15px;
  font-weight: 400;
  list-style-type: circle;
  padding: 2px;
}
.services ul li:hover{
  color:#00999c;
}
/*end of service css*/

.technology{
    background: url(./images/4.jpg) no-repeat left;
    background-size: 80%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 40px 0;
}
/*brand crousel*/

.section-padding{
  padding-bottom: 80px;
  padding-left: 130px;
  padding-right: 130px;
}

.brand-carousel {
background: aliceblue;
margin-top: 5%;
}
/*
.owl-dots {
text-align: center;
margin-top: 4%;
}
.owl-dot {
display: inline-block;
height: 15px !important;
width: 15px !important;
background-color: #878787 !important;
opacity: 0.8;
border-radius: 50%;
margin: 0 5px;
}
.owl-dot.active {
background-color: #000 !important;
}
/*Enf of brand crousel*/


/*footer css*/
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col p{
  color: #bbbbbb;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #00999c;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform:;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #00999c;
}

/*footer css end*/
.copyright {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
.copyright span a {
  color: #fff;
  text-decoration: none;
}
.copyright span a:hover {
  text-decoration: none;
}
.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.8rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
.footer__icon:hover {
  color: #ff4d4d;
}

@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .banner{
  background: url("./images/bgm.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
  .icon{
    display: block;
    color: #000;
  }
  .menu-list .cancel-btn{
    color: white;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.sticky{
  background: none;
}

  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
  .about{
        padding: 0;
    }
    .inner-section{

        padding: 60px;
        width: 100%;
        height: 100%
    }
    .inner-section{
    justify-content: center;
  }
    .services{
        padding: 0;
    }
    .inner-section-services{
       background-color: #e3e1e1;
        padding: 60px;
        width: 100%;
        height: 100%
    }
    .skills button{
        font-size: 18px;
        padding: 5px;
        width: 160px;
      }
      .section-padding{
        padding-top: 50px;
        padding: 10px;
      }
      .brand-carousel {
        margin-bottom: 5%;
      }
    .footer-col{
    width: 100%;
    margin-bottom: 30px;
    }


}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}
